<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xmind to TestLink Converter</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
<header>
    <h1>Welcome to Xmind2TestLink!</h1>
</header>
{% with message = get_flashed_messages() %}
    {% if message %}
        <ul class="flash">
            {% for m in message %}
                <li>{{ m }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>