<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xmind to TestLink Converter</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    {% if download_xml %}
        <script type="text/javascript">
            function download_xml() {
                window.location.href = '{{ url_for('download_file', filename=download_xml) }}'
            }
            window.onload = download_xml;
        </script>
    {% endif %}
</head>
<body>
<header>
    <h1>Welcome to Xmind2TestLink!</h1>
</header>
{% with message = get_flashed_messages() %}
    {% if message %}
        <ul class="flash">
            {% for m in message %}
                <li>{{ m }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>